<div class="container bg-light text-dark rounded col-sm-6  p-3 mt-4">

	<form method="post" action="/shows/add">
		<h2>Add Show</h2>
		<div class="form-group">
		<label>Artist</label><br>
		<input type="text" name="artist" required>
		</div>

		<div class="form-group">
		<label>Price</label><br>
		<input type="text" name="price" required>
		</div>

		<div class="form-group">
		<label>Date</label><br>
		<input type="text" name="date" required>
		</div>

		<div class="form-group">
		<label>Seats Available</label><br>
		<input type="text" name="seats" required>
		</div>

		<button type="submit" class="btn btn-secondary">Add Show</button>
	</form>

</div>